# Ignorar Skills externas (Awesome Skills) para não versionar no repositório local
# Mantenha apenas as skills especializadas do Adianti

# VsCode files
/.vscode/

# Eclipse files
/.settings/
/.project
/.buildpath

#Arquivos compactados
*.zip
*.tar.gz
*.tar

# Outros arquivos temporários
.DS_Store
Thumbs.db