# Ignorar Skills externas (Awesome Skills) para não versionar no repositório local
# Mantenha apenas as skills especializadas do Adianti

# VsCode files
/.vscode/

# Eclipse files
/.settings/
/.project
/.buildpath

#Arquivos compactados
*.zip
*.tar.gz
*.tar

# Outros arquivos temporários
.DS_Store
Thumbs.db

# External/Generic Skills to Ignore:
@debugging-strategies
debugging-strategies
@api-design-principles
api-design-principles
sql-injection-testing
@security-auditor
security-auditor
@doc-coauthoring
doc-coauthoring
@brainstorming
brainstorming
@architecture
architecture
@test-driven-development
test-driven-development
@lint-and-validate
lint-and-validate
@create-pr
create-pr
@frontend-design
frontend-design